registry=https://pkgs.dev.azure.com/slb-swt/delfi-data-management/_packaging/dm-portal-feed/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/slb-swt/delfi-data-management/_packaging/dm-portal-feed/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/delfi-data-management/_packaging/dm-portal-feed/npm/registry/:_password=ZHZkcXc1bGdhcmxla2hxaHNldmd6bGVlbWoyaTdjN3RjcnB1Z2pjaGoyMzVjMm91dHQ1cQ==
//pkgs.dev.azure.com/slb-swt/delfi-data-management/_packaging/dm-portal-feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/delfi-data-management/_packaging/dm-portal-feed/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/delfi-data-management/_packaging/dm-portal-feed/npm/:_password=ZHZkcXc1bGdhcmxla2hxaHNldmd6bGVlbWoyaTdjN3RjcnB1Z2pjaGoyMzVjMm91dHQ1cQ==
//pkgs.dev.azure.com/slb-swt/delfi-data-management/_packaging/dm-portal-feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
